* {
    box-sizing: border-box;
    overflow-x: hidden;
  
  }
  .column{
    float: left;
    width: 49%;
    height: 20%; 
  
  
  }
  .row:after {
    content: "";
    display: flex;
    clear: both;
  }
  .img1{
      margin-left: 10%;
      width: 40%;
      height: 45%;
      border-radius:10%;
  }
  .img2{
     
    width: 50%;
     margin-left: 55%;
      border-radius:10%;
}
.img3{
   width: 45%;
     margin-left: 10%;
     height:330px;
     border-radius:10%;  
    }
.h1{
   font-weight:bolder; font-size:x-large; 
   margin-left: 0%;
  margin-top: 1%;
}
.div{
   margin-left: 15%;
    margin-bottom: 2%;
}
p{
  margin-right: 10%;
  font-style: oblique;
  text-indent: 0%;  
  letter-spacing: 0%;
  line-height: 1.3;
  word-spacing: 1%;
  margin-left: 7%;
}
.heading{
    margin-left: 30%; margin-right: 6%; font-size:xx-large; font-weight:bolder;
    
}
.overall{
  background-image: url(/CRTD.JS/intern/background.png);
}
@media only screen and (max-width: 667px) {

  [class*="column"] {
    width: 100%;
    height: 60%;
    margin-right: 20%;
  }
}
@media only screen and (max-width: 667px) {

  [class*="heading"] {
    width: 100%;
    height: 60%;
    margin: 0 5% 0 5%;
   margin-bottom: 0 10%;
  }
}